<h1>name</h1>
  <p>name for <%= @restaurant.name %></p>

<h1>address</h1>
  <p>address for <%=@restaurant.address %></p>

<h1>phone</h1>
  <p>phone for <%=@restaurant.phone %></p>

<h1>description</h1>
  <p>description for <%=@restaurant.description %></p>

<h1>email</h1>
  <p>email for <%=@restaurant.email %></p>

     
