<!DOCTYPE html>
<html>
  <head>
    <title>Seatyourself</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">

      <div id="nav" class="u-full-width">
        <%= link_to "HomePage", root_path, class: "button u-pull-left" %>
        <% if current_user == nil %>
            <p>
              <%= link_to "Log in", new_session_path, class: "button" %><%= link_to "Sign up", new_user_path,
                                                                                       class: "button" %>
            </p>

        <% elsif current_user.owner == 0 %>
            <p>
              <%= link_to "User Profile", user_path(current_user), class: "button" %>
            </p>
        <% else current_user.owner == 1 %>
            <p>
              <%= link_to "Add Restaurant", new_restaurant_path, class: "button"%><%= link_to "Owner Profile", user_path(current_user), class: "button"%>
            </p>
        <% end %>
      </div>

      <div class="six columns">
        <% if flash[:notice] %>
            <p id="notice"><%= flash[:notice] %></p>
        <% end %>

        <% if flash[:alert] %>
            <p id="alert"><%= flash[:alert] %></p>
        <% end %>
      </div>

      <%= yield %>

      <footer class="u-full-width">
        <p class="userinfo">
          <% if current_user %>
              <strong>Signed in as <%= current_user.first_name%>. <%= link_to "Log out", session_path("current"),
                                                                           :method =>
            :delete%></strong>
          <% else %>

          <% end %>
        </p>
      </footer>
    </div>
  </body>
</html>
